
body, html{
     height: 100%;
    background-repeat: no-repeat;
    background-color: #B2BACC;
    background-image: url("http://i.imgur.com/zT58uAD.jpg");
    background-position:;
    background-size: cover;

}

</style>

